<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product App</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    thead, td {
        border: 1px solid black; /* 각 셀에 테두리 스타일 지정 */
        padding: 8px;
        text-align: center;
    }
    thead{
        background-color: lightgray;
    }
</style>
<body>
<div id="app">
    <div style="background-color: black; height: 80px">
    </div>
    <div style="background-color: lightgray; height: 60px; padding-top:20px; padding-left:20px">
        <input id="inputName" style="padding-left:10px; border-radius: 20px; height:30px" type="text" placeholder="이름">
        <button id="btn" style="width:50px; height: 30px; font-size: 15px; font-weight: bold">검색</button>
    </div>
    <table style="margin-top: 20px; width: 1050px">
        <thead>
            <td width="150px">이메일</td>
            <td width="100px"><p id="name">이름</p></td>
            <td width="300px"><p id="dept">부서</p></td>
            <td width="200px">연락처</td>
            <td width="300px"><p id="pos">직급</p></td>
            <td width="300px">상태</td>
        </thead>
        <tbody id="tableBody">
            <tr th:each="u : ${userList}">
                <td th:text="${u.email}"></td>
                <td th:text="${u.name}"></td>
                <td th:switch="${u.dept}">
                    <span th:case="'ALM'">ALM사업본부</span>
                    <span th:case="'FIN'">금융사업본부</span>
                    <span th:case="'MAN'">경영본부</span>
                    <span th:case="'SER'">서비스사업본부</span>
                </td>
                <td th:text="${u.con}"></td>
                <td th:switch="${u.pos}">
                    <span th:case="'S01'">사장</span>
                    <span th:case="'J02'">전무</span>
                    <span th:case="'E03'">이사</span>
                    <span th:case="'B04'">부장</span>
                    <span th:case="'C05'">차장</span>
                    <span th:case="'K06'">과장</span>
                    <span th:case="'D07'">대리</span>
                    <span th:case="'S08'">사원</span>
                </td>
                <td th:switch="${u.state}">
                    <span th:case="'STD'">본사 대기</span>
                    <span th:case="'PJT'">프로젝트 투입</span>
                    <span th:case="'OUT'">퇴사</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!--<script>-->
<!--    var app = new Vue({-->
<!--        el: '#app',-->
<!--    })-->
<!--</script>-->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
    function updateTableWithData(data){
        // 받은 데이터로 테이블의 내용 업데이트
        var tableBody = $('#tableBody');
        tableBody.empty(); // 기존 테이블 내용 비우기
        data.forEach(function(user) {
            var row = $('<tr>');
            row.append($('<td width="150px">').text(user.email));
            row.append($('<td width="100px">').text(user.name));
            row.append($('<td width="300px">').text(user.dept === 'ALM' ? 'ALM사업본부' : user.dept === 'FIN' ? '금융사업본부' : user.dept === 'MAN' ? '경영본부' : user.dept === 'SER' ? '서비스사업본부' : '기타'));
            row.append($('<td width="200px">').text(user.con));
            row.append($('<td width="300px">').text(user.pos === 'S01' ? '사장' : user.pos === 'J02' ? '전무' : user.pos === 'E03' ? '이사' : user.pos === 'B04' ? '부장' : user.pos === 'C05' ? '차장' : user.pos === 'K06' ? '과장' : user.pos === 'D07' ? '대리' : '사원'));
            row.append($('<td width="300px">').text(user.state === 'STD' ? '본사 대기' : user.state === 'PJT' ? '프로젝트 투입' : '퇴사'));
            tableBody.append(row); // 새로운 행 추가
        });
    }

    // '이름' 클릭 이벤트 처리
    $('#name').click(function() {

        $.ajax({
            url: '/sortByName', // 새로운 정렬 기준에 따른 데이터를 가져오는 엔드포인트
            type: 'POST',
            success: function(data) {
                updateTableWithData(data);
            },
            error: function() {
                alert('Failed to fetch data.');
            }
        });
    });

    // '부서' 클릭 이벤트 처리
    $('#dept').click(function() {

        $.ajax({
            url: '/sortByDept',
            method: 'POST',
            success: function(data) {
                updateTableWithData(data);
            },
            error: function() {
                alert('Failed to fetch data.');
            }
        });
    });

    // '직급' 클릭 이벤트 처리
    $('#pos').click(function() {

        $.ajax({
            url: '/sortByPos',
            method: 'POST',
            success: function(data) {
                updateTableWithData(data);
            },
            error: function() {
                alert('Failed to fetch data.');
            }
        });
    });

    // 버튼 클릭 이벤트 처리
    $('#btn').click(function() {

        const inputName = document.getElementById('inputName').value;

        $.ajax({
            data: {inputName: inputName},
            url: '/sortByName2',
            method: 'POST',
            success: function(data) {
                updateTableWithData(data);
            },
            error: function() {
                alert('Failed to fetch data.');
            }
        });
    });
</script>
</body>
</html>