<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bno2.mapper.CodeMapper">

    <select id="getUserDeptCode" resultType="com.example.bno2.dto.Code">
        select detail_class_code as detailClassCode,
               detail_desc as detailDesc
        from detail_code
        where group_class_code = 'USER_DEPT_CODE';
    </select>

    <select id="getUserPosCode" resultType="com.example.bno2.dto.Code">
        select detail_class_code as detailClassCode,
               detail_desc as detailDesc
        from detail_code
        where group_class_code = 'USER_POS_CODE'
        order by apply_start_dt;
    </select>

    <select id="getUserStateCode" resultType="com.example.bno2.dto.Code">
        select detail_class_code as detailClassCode,
               detail_desc as detailDesc
        from detail_code
        where group_class_code = 'USER_STATE_CODE';
    </select>

    <select id="getEquipmentClassCode" resultType="com.example.bno2.dto.Code">
        select detail_class_code as detailClassCode,
               detail_desc as detailDesc
        from detail_code
        where group_class_code = 'EQUIPMENT_CLASS_CODE';
    </select>

    <select id="getEquipmentStateCode" resultType="com.example.bno2.dto.Code">
        select detail_class_code as detailClassCode,
               detail_desc as detailDesc
        from detail_code
        where group_class_code = 'EQUIPMENT_STATE_CODE';
    </select>

    <select id="getProjectStateCode" resultType="com.example.bno2.dto.Code">
        select detail_class_code as detailClassCode,
               detail_desc as detailDesc
        from detail_code
        where group_class_code = 'PROJECT_STATE_CODE';
    </select>

</mapper>