<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bno2.mapper.EquipmentMapper">

    <select id="selectAllEquipments" resultType="com.example.bno2.model.Equipment">
        SELECT
            *
        FROM
            EQUIPMENT
        WHERE
            CLS LIKE CONCAT('%',#{cls},'%')
          AND MODEL LIKE CONCAT('%',#{model},'%')
          AND UID IN (
            SELECT UID
            FROM EQUIPMENT_USER
            WHERE PN IN (
            SELECT PN
            FROM USER
            WHERE NAME LIKE CONCAT('%',#{name},'%')
            )
            );
    </select>

    <insert id="insertEquipment" parameterType="com.example.bno2.model.Equipment">
        INSERT INTO
            EQUIPMENT(CLS,
                      SN,
                      MODEL,
                      SPEC,
                      WAR_START,
                      WAR_END,
                      MANU_COM,
                      MAC,
                      STATE,
                      YEAR)
        VALUES
            (#{cls},
             #{sn},
             #{model},
             #{spec},
             #{warStart},
             #{warEnd},
             #{manuCom},
             #{mac},
             #{state},
             #{year})
    </insert>

    <!-- 장비 업데이트 -->
    <update id="updateEquipment">
        UPDATE EQUIPMENT
        SET CLS = #{cls},
            SN = #{sn},
            MODEL = #{model},
            SPEC = #{spec},
            WAR_START = #{warStart},
            WAR_END = #{warEnd},
            MANU_COM = #{manuCom},
            MAC = #{mac},
            STATE = #{state},
            YEAR = #{year}
        WHERE UID = #{uid}
    </update>

    <!-- 장비 삭제 -->
    <delete id="deleteEquipment">
        DELETE FROM EQUIPMENT
        WHERE UID = #{uid}
    </delete>
</mapper>