<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bno2.mapper.LoginMapper">

    <select id="login" resultType="com.example.bno2.dto.User">
        SELECT
            pn,
            email,
            name,
            dept_code AS deptCode,
            con,
            pos_code AS posCode,
            state_code AS stateCode
        FROM user
        WHERE email = #{email}
            AND pw = SHA1(#{password})
    </select>

    <select id="loginCount" resultType="int">
        SELECT COUNT(email)
        FROM user
        WHERE email = #{email}
            AND pw = SHA1(#{password})
    </select>

    <select id="getRecentLoginHistory" parameterType="int" resultType="java.sql.Timestamp">
        SELECT login_out_dt
        FROM login_out_history
        WHERE user_pn = #{userPn}
            AND login_out = 1
        ORDER BY
            login_out_dt DESC
            LIMIT 1;
    </select>

    <insert id="addLoginHistory" parameterType="int">
        INSERT INTO
            login_out_history(
                user_pn,
                login_out_dt,
                login_out
        )
        VALUES(
               #{userPn},
               NOW() + INTERVAL + 9 HOUR,
               1
              )
    </insert>

    <insert id="addLogoutHistory" parameterType="int">
        INSERT INTO
            login_out_history(
                user_pn,
                login_out_dt,
                login_out
            )
        VALUES(
               #{userPn},
               NOW() + INTERVAL + 9 HOUR,
               2
              )
    </insert>

</mapper>