<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bno2.mapper.OtpMapper">

    <select id="checkSecretKey" parameterType="int" resultType="int">
        select
            count(user_pn)
        from
            otp_secret_key
        where
            user_pn = #{userPn}
    </select>

    <insert id="addSecretKey">
        insert into
            otp_secret_key
        values
            (#{userPn}, #{secretKey});
    </insert>

    <select id="getSecretKey" parameterType="int" resultType="String">
        select
            secret_key
        from
            otp_secret_key
        where
            user_pn = #{userPn}
    </select>

    <select id="checkQrBlob" parameterType="int">
        select
            count(qr_blob)
        from
            otp_regist
        where
            user_pn = #{userPn}
    </select>

    <insert id="addQrBlob">
        insert into
            otp_regist(user_pn, qr_blob)
        values
            (#{userPn}, #{qrBlob})
    </insert>

    <select id="otpIsRegistered" parameterType="int" resultType="int">
        select
            otp_is_registered
        from
            otp_regist
        where
            user_pn = #{userPn}
    </select>

    <update id="updateOtpIsRegistered" parameterType="int">
        update otp_regist
        set otp_is_registered = 1
        where user_pn = #{userPn}
    </update>

</mapper>