<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bno2.mapper.OtpMapper">

    <select id="checkSecretKey" parameterType="int" resultType="int">
        SELECT COUNT(user_pn)
          FROM otp_secret_key
         WHERE user_pn = #{userPn}
    </select>

    <insert id="addSecretKey">
        INSERT INTO otp_secret_key
             VALUES (#{userPn},
                     #{secretKey});
    </insert>

    <select id="getSecretKey" parameterType="int" resultType="String">
        SELECT secret_key
          FROM otp_secret_key
         WHERE user_pn = #{userPn}
    </select>

    <select id="checkQrBase64" parameterType="int">
        SELECT COUNT(qr_base64)
          FROM otp_regist
         WHERE user_pn = #{userPn}
    </select>

    <insert id="addQrBase64">
        INSERT INTO otp_regist(user_pn,
                               qr_base64)
                        VALUES(#{userPn},
                               #{qrBase64})
    </insert>

    <select id="getQrBase64" parameterType="int" resultType="String">
        SELECT qr_base64
          FROM otp_regist
         WHERE user_pn = #{userPn}
    </select>

    <select id="otpIsRegistered" parameterType="int" resultType="int">
        SELECT otp_is_registered
          FROM otp_regist
         WHERE user_pn = #{userPn}
    </select>

    <insert id="updateOtpIsRegistered" parameterType="int">
        UPDATE otp_regist
           SET otp_is_registered = 1
         WHERE user_pn = #{userPn}
    </insert>

    <select id="getEmailBySecretKey" resultType="String" parameterType="int">
        SELECT u.email
        FROM otp_secret_key AS o
                 JOIN user AS u ON o.user_pn = u.pn
        WHERE o.user_pn = #{userPn}
    </select>

    <select id="getUserPnBySecretKey" resultType="int" parameterType="String">
        SELECT user_pn
        FROM otp_secret_key
        WHERE secret_key = #{secretKey}
    </select>

    <select id="userAuth" resultType="com.example.bno2.dto.User">
        SELECT pn         AS pn,
               email      AS email,
               name       AS name,
               dept_code  AS deptCode,
               con        AS con,
               pos_code   AS posCode,
               state_code AS stateCode
        FROM user
        WHERE name = #{name}
          AND email = #{email}
          AND con = #{con}
    </select>

</mapper>