<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bno2.mapper.OtpMapper">

    <select id="checkSecretKey" parameterType="int" resultType="int">
        SELECT COUNT(user_pn)
          FROM otp_secret_key
         WHERE user_pn = #{userPn}
    </select>

    <insert id="addSecretKey">
        INSERT INTO otp_secret_key
             VALUES (#{userPn},
                     #{secretKey});
    </insert>

    <select id="getSecretKey" parameterType="int" resultType="String">
        SELECT secret_key
          FROM otp_secret_key
         WHERE user_pn = #{userPn}
    </select>

    <select id="checkQrBlob" parameterType="int">
        SELECT count(qr_blob)
          FROM otp_regist
         WHERE user_pn = #{userPn}
    </select>

    <insert id="addQrBlob">
        INSERT INTO otp_regist(user_pn,
                               qr_blob)
                        VALUES(#{userPn},
                               #{qrBlob})
    </insert>

    <select id="otpIsRegistered" parameterType="int" resultType="int">
        SELECT otp_is_registered
          FROM otp_regist
         WHERE user_pn = #{userPn}
    </select>

    <update id="updateOtpIsRegistered" parameterType="int">
        UPDATE otp_regist
           SET otp_is_registered = 1
         WHERE user_pn = #{userPn}
    </update>

</mapper>