<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bno2.mapper.ProjectMapper">

    <select id="selectProjectsByName" resultType="com.example.bno2.dto.Project">
        SELECT
        uid AS project_uid,
        project_name AS projectName,
        start_dt AS startDt,
        end_dt AS endDt,
        start_predict_dt AS startPredictDt,
        end_predict_dt AS endPredictDt,
        project_state_code AS stateCode,
        project_detail
        FROM project
        WHERE uid != 1
        AND (TRIM(project_name) LIKE CONCAT('%',#{projectName},'%') OR #{projectName} IS NULL )
        <if test="stateCode != null">
            AND project_state_code = #{stateCode}
        </if>
    </select>

    <insert id="insertProject" parameterType="map">
        INSERT INTO
            project(
            project_name,
            start_dt,
            end_dt,
            start_predict_dt,
            end_predict_dt,
            project_state_code,
            project_detail,
            first_update_pn,
            last_update_pn
        )
        VALUES (
                   #{project.projectName},
                   #{project.startPredictDt},
                   #{project.endPredictDt},
                   #{project.startPredictDt},
                   #{project.endPredictDt},
                   #{project.stateCode},
                   #{project.project_detail},
                   #{loginUserPn},
                   #{loginUserPn}
               )
    </insert>

    <update id="updateProject" parameterType="map">
        UPDATE project
        SET
            project_name = #{project.projectName},
            start_dt = #{project.startDt},
            end_dt = #{project.endDt},
            start_predict_dt = #{project.startPredictDt},
            end_predict_dt = #{project.endPredictDt},
            project_state_code = #{project.stateCode},
            project_detail = #{project.project_detail},
            last_update_pn = #{loginUserPn},
            last_update_dt = (NOW() + INTERVAL 9 HOUR)
        WHERE uid = #{project.project_uid}
    </update>

</mapper>