<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bno2.mapper.ProjectMapper">

    <select id="selectProjectsByNameProject" resultType="com.example.bno2.model.Project">
        SELECT
            p.pjtUid, p.project, p.pjtStart, p.pjtEnd, p.pn, p.pjtState, u.name
        FROM
            project p
        INNER JOIN
            user u ON p.pn = u.pn
        WHERE
            p.project LIKE CONCAT('%',#{project},'%')
        AND
            u.name LIKE CONCAT('%',#{name},'%')
    </select>

    <select id="selectProjectsByNameProjectState" resultType="com.example.bno2.model.Project">
        SELECT
            p.pjtUid, p.project, p.pjtStart, p.pjtEnd, p.pn, p.pjtState, u.name
        FROM
            project p
                INNER JOIN
            user u ON p.pn = u.pn
        WHERE
            p.project LIKE CONCAT('%',#{project},'%')
          AND
            u.name LIKE CONCAT('%',#{name},'%')
          AND
            p.pjtState = #{pjtState};
    </select>

    <insert id="insertProject">
        INSERT INTO
            project(project, pjt_start, pjt_end, pn, pjt_state)
        VALUES
            (#{project},#{pjt_start},#{pjt_end},#{pn},#{pjt_state})
    </insert>

    <update id="updateProject">
        UPDATE
            project
        SET
            project=#{project},
            pjt_start=#{pjt_start},
            pjt_end=#{pjt_end},
            pn=#{pn},
            pjt_state=#{pjt_state}
        WHERE
            pjt_uid=#{pjt_uid}
    </update>

</mapper>