<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bno2.mapper.ProjectMapper">

    <select id="selectAllProjects">
        SELECT
            *
        FROM
            project
    </select>

    <insert id="insertProject">
        INSERT INTO
            project(project, pjt_start, pjt_end, pn, pjt_state)
        VALUES
            (#{project},#{pjt_start},#{pjt_end},#{pn},#{pjt_state})
    </insert>

    <update id="updateProject">
        UPDATE
            project
        SET
            project=#{project},
            pjt_start=#{pjt_start},
            pjt_end=#{pjt_end},
            pn=#{pn},
            pjt_state=#{pjt_state}
        WHERE
            pjt_uid=#{pjt_uid}
    </update>

</mapper>