<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bno2.mapper.UserMapper">

    <select id="selectUsers" parameterType="String" resultType="com.example.bno2.model.User">
        SELECT
            pn, email, name, dept, con, pos, state
        FROM
            user
        WHERE
            NAME LIKE CONCAT('%',#{inputName},'%')
        ORDER BY
            NAME
    </select>

    <insert id="insertUser" parameterType="com.example.bno2.model.User">
        INSERT INTO
            user(email, name, dept, con, pos, state)
        VALUES
            (#{email},#{name},#{dept},#{con},#{pos},#{state})
    </insert>

    <update id="updateUser">
        UPDATE
            user
        SET
            email=#{email},
            name=#{name},
            dept=#{dept},
            con=#{con},
            pos=#{pos},
            state=#{state}
        where
            pn=#{pn}
    </update>

</mapper>