<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bno2.mapper.UserMapper">

    <select id="selectUsersByNameDept" resultType="com.example.bno2.dto.User">
        SELECT pn         AS pn,
        email      AS email,
        name       AS name,
        pw         AS pw,
        dept_code  AS deptCode,
        con        AS con,
        pos_code   AS posCode,
        state_code AS stateCode
        FROM user
        WHERE pn != 1
        AND (trim(name) LIKE concat('%',trim(#{name}),'%') OR #{name} IS NULL)
        <if test="deptCode != 'ALL'">
            AND dept_code = #{deptCode}
        </if>
        <if test="posCode != 'ALL'">
            AND pos_code = #{posCode}
        </if>
        ORDER BY
        CASE state_code
        WHEN 'OUT' THEN 1
        ELSE 0
        END,
        CASE pos_code
        WHEN 'S01' THEN 1
        WHEN 'E01' THEN 2
        WHEN 'J01' THEN 3
        WHEN 'B01' THEN 4
        WHEN 'K01' THEN 5
        WHEN 'C01' THEN 6
        WHEN 'D01' THEN 7
        WHEN 'S02' THEN 8
        ELSE 9
        END,
        name;
    </select>

    <insert id="insertUser" parameterType="map">
        INSERT INTO user(email,
                         name,
                         dept_code,
                         con,
                         pos_code,
                         state_code,
                         first_update_pn,
                         last_update_pn)
                   VALUES(#{user.email},
                          #{user.name},
                          #{user.deptCode},
                          #{user.con},
                          #{user.posCode},
                          #{user.stateCode},
                          #{loginUserPn},
                          #{loginUserPn})
    </insert>

    <update id="updateUser" parameterType="map">
        UPDATE user
           SET email = #{user.email},
               name = #{user.name},
               dept_code = #{user.deptCode},
               con = #{user.con},
               pos_code = #{user.posCode},
               state_code = #{user.stateCode},
               last_update_pn = #{loginUserPn},
               last_update_dt = NOW()
         WHERE pn = #{user.pn}
    </update>

    <update id="updateUserState">
        UPDATE user SET state_code = #{stateCode} WHERE pn = #{pn}
    </update>


</mapper>